.main__form{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    
}

.main__form--label{
    display: block;
}

.main__form--input{
    display: block;
}